.card-div {
    width: 2rem;
}

.card-body {
    border-radius: 0px;
}

.col-md-4 {
    margin-top: 20px;
}

.row {
    padding: 2px;
    display: grid;
}

.container {
    display: grid;
}

.card {
    display: inline-block;
}